{% extends 'base.html.twig' %}

{% block title %}la page:{% endblock %}

{% block body %}
{# Affichage des articles #}
<div class="container"> 
        <div class="row ">
            <div class="col-md-8 my-3">
                <img src="{{ post.coverImage }}" alt="la_mon_ou_mon_coeur" >
                <h3 class="h5">Deco</h3>
                 <h2>{{post.title}}</h2>
                <p> {{post.createdAt| date('d-m-Y')}} -  <em>commentaires</em></p>
                <p>{{post.article | raw }}</p>

                   {# Mise en place de carroussel #}
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in post.images %}
                            <div class="carousel-item {% if loop.first %} active {% endif %}">
                                <img src="{{image.url}}" class="d-block w-100" alt="...">
                            </div>
                        {% endfor %}    
                </div>
                     <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                         <span class="sr-only">Next</span>
                    </a>
                </div>          
            </div>
            {# Mis en place des commentaires#}
                {% if post.comments | length > 0 %}
                    <h3 class="mb-3">commentaires</h3>
                        {% for comment in post.comments %}
                            <div class="bg-light rounded mb-3 py-3 px-3">
                                <strong>{{comment.author.fullName}}</strong>a dit:
                                <blockquote>{{comment.content}}</blockquote>
                            </div>
                        {% endfor %}
                {% else %}
                    <h3>Pas de commentaires</h3>
                {% endif %}
            {# A propos #}
            <div class="col-4 my-2">
                <img src="https://via.placeholder.com/400x200"class="img-fluid" alt="la_mon_ou_mon_coeur">
            </div>       
        </div>
         
</div>
{% endblock %}        