{% extends 'admin/base.html.twig' %}

{% block title %}Modification de l'article {{post.id}}{% endblock %}

{% block body %}
    <div class="container">
        {% block _title %}
            <h2>Modification de l'article :  <strong>"{{post.title}}"</strong> </h2>
        {% endblock %}

        <div class="alert alert">
            {{ form_errors(form) }}
        </div>

         {{ form_start(form) }}
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.categories)}}
                </div>
                <div class="col-12">
                    {{ form_row(form.title)}}
                </div>
                 <div class="col-12 my-2">
                    {{ form_row(form.introduction)}}
                </div>
                 <div class="col-12">
                    {{ form_row(form.article)}}
                </div>
                 <div class="col-12 my-2">
                    {{ form_row(form.coverImage)}}
                     {% if post.coverImage %}
                            <img src="{{ vich_uploader_asset(post.coverImage, 'imageFile') }}" alt="" height="200" width="200">
                    {% endif %}
                </div>
                  <div class="col-12 my-2">
                    <div class="row">
                        <div class="col-3">
                             {{ form_row(form.imageFirst)}}
                              {% if post.imageFirst %}
                                <img src="{{ vich_uploader_asset(post.imageFirst, 'imageFile') }}" alt="" height="70" width="70">
                            {% endif %}
                        </div>
                         <div class="col-3">
                             {{ form_row(form.imageSecond)}}
                              {% if post.imageSecond %}
                                <img src="{{ vich_uploader_asset(post.imageSecond, 'imageFile') }}" alt="" height="70" width="70">
                            {% endif %}
                        </div>
                         <div class="col-3">
                             {{ form_row(form.imageLast)}}
                              {% if post.imageLast %}
                                <img src="{{ vich_uploader_asset(post.imageLast, 'imageFile') }}" alt="" height="70" width="70">
                            {% endif %}
                        </div>
                    </div>
                   
                </div>
            </div>
            {% block _submit %}
                <button type="submit" class="btn btn-success">Enregistrer les Modifications</button>
            {% endblock %}
        
        {{form_end(form)}}
    </div>

{% endblock %}