{% extends 'admin/base.html.twig' %}

{% block title %}Page d'administration{% endblock %}

{% block body %}
    <div class="container my-5">
        <H3>gestion des articles </H3>
        <div class="text-right my-3">
          <a href="{{ path('admin_post_new') }}" class="btn btn-primary">Nouveau article</a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Created-date</th>
                    <th>Cover-image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.createdAt | date('d-m-Y')}}</td>
                    <td>
                      {# miniature de l'image #}
                        {% if post.coverImage %}
                            <img src="{{ vich_uploader_asset(post.coverImage, 'imageFile') }}" alt="" height="30" width="30">
                        {% endif %}
                    </td>
                    <td> 
                        <a href="{{ path('admin_post_edit',{'id':post.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>

                        <a href="{{ path('admin_post_delete',{'id':post.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        
                    </td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# gerer la pagination #}
         {% include "admin/partials/pagination.html.twig" with {'route':'admin_post_index'} %}
    </div>
{% endblock %}
